<h3>Registration as author</h3><br>
<form method="post" action="">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="second_name">Second Name</label>
        <input type="text" id="second_name" name="second_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="form-group" >
            <label for="check_password"> Check Password</label>
            <input type="password" id="check_password" name="check_password" class="form-control" onkeyup="checkPassword()">
        </div>
    <input type="submit" id="button_submit" class="btn btn-success" value="Submit" style="display: none">
</form>